<!--/内容-->
<aside class="sidebar visible-lg"><!--右侧>992px显示-->
    <div class="sentence"> <strong>每日一句</strong>
        <h2 id="time"></h2>
        <p>{$sentence}</p>
    </div>
    <div id="search" class="sidebar-block search" role="search">
        <h2 class="title"><strong>搜索</strong></h2>
        <form class="navbar-form" action="search.php" method="post">
            <div class="input-group">
                <input type="text" class="form-control" size="35" placeholder="请输入关键字">
                <span class="input-group-btn">
          <button class="btn btn-default btn-search" type="submit">搜索</button>
          </span> </div>
        </form>
    </div>
    <div class="sidebar-block recommend">
        <h2 class="title"><strong>热门推荐</strong></h2>
        <ul>
            <li><a target="_blank" href=""> <span class="thumb"><img src="/static/images/icon/icon.png" alt=""></span> <span class="text">博客的SHORTCUT和ICON图标 ...</span> <span class="text-muted">阅读(2165)</span></a></li>
        </ul>
    </div>
    <div class="sidebar-block comment">
        <h2 class="title"><strong>最新评论</strong></h2>
        <ul>
            <li data-toggle="tooltip" data-placement="top" title="站长的评论"><a target="_blank" href=""><span class="face"><img src="/static/images/icon/icon.png" alt=""></span> <span class="text"><strong>站长</strong> (2015-10-18) 说：<br />
          欢迎来到异清轩技术博客，在这里可以看到网站前端和后端的技术等 ...</span></a></li>
        </ul>
    </div>
</aside>

<script>
    window.onload=function () {
        var date = new Date();
        var year = date.getFullYear();
        var mouth = date.getMonth() + 1;
        var day = date.getDate();
        var week = '星期一';
        switch (date.getDay()){
            case 1:week='星期一';break;
            case 2:week='星期二';break;
            case 3:week='星期三';break;
            case 4:week='星期四';break;
            case 5:week='星期五';break;
            case 6:week='星期六';break;
            case 7:week='星期日';break;
        }
        var times = year + '年' + mouth + '月' + day + '日  ' + week;
        $('#time').html(times);
    };
</script>